@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pri-col: #0cbaba;
  --sec-col: #314cb6;
  --white-col: #f5f5f5;
  --black-col: #1d1d1d;
  --Lblack-col: #232323;
  --gray-col: #8a8a8a;
}

* {
  font-family: "Raleway", serif;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--white-col);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
