@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pri-col: #0CBABA;
  --sec-col: #314CB6;
  --white-col: #F5F5F5;
  --black-col: #1D1D1D;
  --Lblack-col: #232323;
  --gray-col: #8A8A8A;
}

* {
  font-family: "Raleway", serif;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--white-col);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
